<div class="tableWrapper">
  <h1 class="tableHeader">Клиенты</h1>

  <div class="tableContent">
    <div class="tableNavBar">
      <button class="plusButton" (click)="onModalOpen()"></button>
      <button class="deleteButton" (click)="onModalDelete()"></button>
    </div>

    <modal-view *ngIf="isOpen === true" [callType]="callType" [deleteCount]="usersToDelete.length"></modal-view>

    <div class="tableNames">  
      <input type="checkbox">
      <li>Имя</li>
      <li>Фамилия</li>
      <li>E-mail</li>
      <li>Телефон</li>
    </div>

    <div class="tableRows" *ngFor="let user of users">
      <input type="checkbox" (click)="selectUser(user)">
      <li (click)="onEditModalOpen(user)">{{user.name}}</li>
      <li>{{user.surname}}</li>
      <li>{{user.email}}</li>
      <li>{{user.phone}}</li>
    </div>

  </div>
</div>
