<div class="modalWrapper" *ngIf="deleteCount !== 0">
    <div *ngIf="callType !== 2" class="modalContent">
        <h1 *ngIf="callType ===  0">Новый клиент</h1>
        <h1 *ngIf="callType === 1">Редактирование</h1>
        <form class="formWrapper" [formGroup]="userForm" (ngSubmit)="onSubmit()">
          
            <input type="text" id="name" formControlName="name" placeholder="Имя" required>
            <input type="text" id="surname" formControlName="surname" placeholder="Фамилия">
            <input type="email" id="email" formControlName="email" placeholder="E-mal">
            <input type="tel" id="phone" formControlName="phone" placeholder="Телефон">
          
            <div class="formButtons">
                <button class="cancelButton" type="button" (click)="onClose()">Отмена</button>
                <button class="submitButton" type="submit">Сохранить</button>
            </div>
        </form>
    </div>
    <div *ngIf="callType === 2" class="modalDelete">
        <h2>Удаление строк</h2>
        <p>Удалить выбранные строки?({{deleteCount}})</p>
        <div class="formButtons">
            <button class="cancelButton" type="button" (click)="onClose()">Отмена</button>
            <button class="submitButton" type="submit" (click)="deleteUsers()">Удалить</button>
        </div>
    </div>
</div>